---
import SubPageLayout from "../layouts/SubPageLayout.astro";

const title = "Contact"
---

<SubPageLayout title={title}>
    <h1 class="text-6xl font-rubik text-white my-10">{title}</h1>
    <p class="text-white">You can contact me via email at <a href="mailto:lucasoAlt@outlook.com" class="text-blue-500 hover:text-blue-700 hover:underline">lucasoAlt@outlook.com</a>.</p>
    <p class="text-white mt-1">Or you can contact me on Discord: @lucasodev</p>
</SubPageLayout>