---
let {text} = Astro.props;
let {href} = Astro.props;
---

<div>
    <a
        class="block p-3 border-2 border-primary1 rounded-lg hover:border-primary2 text-white transition-all ease-in-out"
        href={href}
        >{text} -&gt
    </a>
</div>
