---
import MainLayout from "../layouts/MainLayout.astro";
import ButtonBorder from "../components/ButtonBorder.astro";
import ButtonWhiteBorder from "../components/ButtonWhiteBorder.astro";
---

<link rel="stylesheet" href="/lib/glide.core.min.css" />
<section class="h-screen">
  <div
    class="flex bg-black/50 md:container rounded-lg mx-10 md:mx-auto justify-center items-center font-inter text-white"
  >
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="flex glide__slide">
            <div class="flex m-10">
              <img class="hidden lg:block mr-5" src="/placeholder.png" alt="" />

              <div class="block lg:w-full">
                <div>
                  <h3
                    class="text-primary1 font-bold text-2xl text-center lg:text-left"
                  >
                    LucasoDev.Tk
                  </h3>
                  <p class="mt-3 text-center lg:text-left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aspernatur magni necessitatibus sunt soluta consequatur
                    vitae ad libero. Commodi, blanditiis impedit.
                  </p>
                </div>

                <img
                  class="block lg:hidden my-5 mx-auto"
                  src="/placeholder.png"
                  alt=""
                />

                <div class="flex mt-8">
                  <div>
                    <h4 class="font-bold text-xl">Technologies</h4>
                    <ul class="ml-5">
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>Tailwindcss</li>
                      <li>Astro</li>
                    </ul>
                  </div>
                  <div class="ml-20">
                    <h4 class="font-bold text-xl">Tools</h4>
                    <ul class="ml-5">
                      <li>Figma</li>
                      <li>Visual Studio Code</li>
                      <li>GitHub Pages</li>
                      <li>Git Version control via GitHub</li>
                    </ul>
                  </div>
                </div>

                <div class="w-full lg:flex mt-10 text-center">
                  <div class="block lg:w-56">
                    <ButtonBorder
                      text="Read More"
                      href="https://lucasodev.tk/404"
                    />
                  </div>
                  <div class="block mt-5 lg:mt-0 lg:mx-5 lg:w-56">
                    <ButtonWhiteBorder
                      text="Source Code"
                      href="https://lucasodev.tk/404"
                    />
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="flex glide__slide">
            <div class="flex m-10">
              <img class="hidden lg:block mr-5" src="/placeholder.png" alt="" />

              <div class="block w-80 lg:w-full">
                <div>
                  <h3
                    class="text-primary1 font-bold text-2xl text-center lg:text-left"
                  >
                    LucasoDev.Tk
                  </h3>
                  <p class="mt-3 text-center lg:text-left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aspernatur magni necessitatibus sunt soluta consequatur
                    vitae ad libero. Commodi, blanditiis impedit.
                  </p>
                </div>

                <img
                  class="block lg:hidden my-5"
                  src="/placeholder.png"
                  alt=""
                />

                <div class="flex mt-8">
                  <div>
                    <h4 class="font-bold text-xl">Technologies</h4>
                    <ul class="ml-5">
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>Tailwindcss</li>
                      <li>Astro</li>
                    </ul>
                  </div>
                  <div class="ml-20">
                    <h4 class="font-bold text-xl">Tools</h4>
                    <ul class="ml-5">
                      <li>Figma</li>
                      <li>Visual Studio Code</li>
                      <li>GitHub Pages</li>
                      <li>Git Version control via GitHub</li>
                    </ul>
                  </div>
                </div>

                <div class="w-full lg:flex mt-10 text-center">
                  <div class="block lg:w-56">
                    <ButtonBorder
                      text="Read More"
                      href="https://lucasodev.tk/404"
                    />
                  </div>
                  <div class="block mt-5 lg:mt-0 lg:mx-5 lg:w-56">
                    <ButtonWhiteBorder
                      text="Source Code"
                      href="https://lucasodev.tk/404"
                    />
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="flex glide__slide">
            <div class="flex m-10">
              <img class="hidden lg:block mr-5" src="/placeholder.png" alt="" />

              <div class="block w-80 lg:w-full">
                <div>
                  <h3
                    class="text-primary1 font-bold text-2xl text-center lg:text-left"
                  >
                    LucasoDev.Tk
                  </h3>
                  <p class="mt-3 text-center lg:text-left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aspernatur magni necessitatibus sunt soluta consequatur
                    vitae ad libero. Commodi, blanditiis impedit.
                  </p>
                </div>

                <img
                  class="block lg:hidden my-5"
                  src="/placeholder.png"
                  alt=""
                />

                <div class="flex mt-8">
                  <div>
                    <h4 class="font-bold text-xl">Technologies</h4>
                    <ul class="ml-5">
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>Tailwindcss</li>
                      <li>Astro</li>
                    </ul>
                  </div>
                  <div class="ml-20">
                    <h4 class="font-bold text-xl">Tools</h4>
                    <ul class="ml-5">
                      <li>Figma</li>
                      <li>Visual Studio Code</li>
                      <li>GitHub Pages</li>
                      <li>Git Version control via GitHub</li>
                    </ul>
                  </div>
                </div>

                <div class="w-full lg:flex mt-10 text-center">
                  <div class="block lg:w-56">
                    <ButtonBorder
                      text="Read More"
                      href="https://lucasodev.tk/404"
                    />
                  </div>
                  <div class="block mt-5 lg:mt-0 lg:mx-5 lg:w-56">
                    <ButtonWhiteBorder
                      text="Source Code"
                      href="https://lucasodev.tk/404"
                    />
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="flex glide__slide">
            <div class="flex m-10">
              <img class="hidden lg:block mr-5" src="/placeholder.png" alt="" />

              <div class="block w-80 lg:w-full">
                <div>
                  <h3
                    class="text-primary1 font-bold text-2xl text-center lg:text-left"
                  >
                    LucasoDev.Tk
                  </h3>
                  <p class="mt-3 text-center lg:text-left">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Aspernatur magni necessitatibus sunt soluta consequatur
                    vitae ad libero. Commodi, blanditiis impedit.
                  </p>
                </div>

                <img
                  class="block lg:hidden my-5"
                  src="/placeholder.png"
                  alt=""
                />

                <div class="flex mt-8">
                  <div>
                    <h4 class="font-bold text-xl">Technologies</h4>
                    <ul class="ml-5">
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>Tailwindcss</li>
                      <li>Astro</li>
                    </ul>
                  </div>
                  <div class="ml-20">
                    <h4 class="font-bold text-xl">Tools</h4>
                    <ul class="ml-5">
                      <li>Figma</li>
                      <li>Visual Studio Code</li>
                      <li>GitHub Pages</li>
                      <li>Git Version control via GitHub</li>
                    </ul>
                  </div>
                </div>

                <div class="w-full lg:flex mt-10 text-center">
                  <div class="block lg:w-56">
                    <ButtonBorder
                      text="Read More"
                      href="https://lucasodev.tk/404"
                    />
                  </div>
                  <div class="block mt-5 lg:mt-0 lg:mx-5 lg:w-56">
                    <ButtonWhiteBorder
                      text="Source Code"
                      href="https://lucasodev.tk/404"
                    />
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="glide__arrows text-center" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"
          >prev</button
        >
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"
          >next</button
        >
      </div>
    </div>
  </div>
</section>

<script is:inline src="/lib/glide.min.js"></script>

<script>
  new Glide(".glide").mount();
</script>
