---
import ButtonBorder from "./ButtonBorder.astro";
---

<section class="block p-3 bg-black/25 font-inter">
  <nav class="md:container mx-auto">
    <div class="flex items-center justify-between">
      <div class="flex-col mx-auto lg:flex lg:mx-0">
        <a href="https://lucasodev.tk">
          <div class="mx-auto pt2 sm:mx-0">
            <img class="w-60" src="/logo.svg" alt="" />
          </div>
        </a>
        <div
          class="flex mx-auto text-4xl justify-center pt-3 lg:hidden text-white"
        >
          &#9776;
        </div>
      </div>
      <div class="hidden lg:flex space-x-6 text-primary1 font-light text-md">
        <a class="hover:text-primary2" href="#about-me">About Me</a>
        <a class="hover:text-primary2" href="">My Projects</a>
        <a class="hover:text-primary2" href="">Technologies</a>
        <a class="hover:text-primary2" href="https://blog.lucasodev.tk">Blog</a>
      </div>
      <div class="hidden lg:block m-3">
        <ButtonBorder text="Contact" href="https://lucasodev.tk/404" />
      </div>
    </div>
  </nav>
</section>
