---
import "../css/timeline.css"

---
<div class="flex justify-center py-20">
    <div class="timeline">
      <ul>
        <li>
          <div class="timeline-content">
            <h4 class="date">2019 - 2022</h4>
            <h3>Python 3</h3>
            <p>Intermediate Python Software Development</p>
            <p>Python Package Manager (PIP)</p>
            <p>Using external packages from PIP</p>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h4 class="date">2019 - present</h4>
            <h3>GitHub Desktop and Git</h3>
            <p>Fundementals of Git</p>
            <p>GitHub Desktop</p>
            <p>Contributed to open source projects</p>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h4 class="date">2020 - 2021</h4>
            <h3>Discord Bot Development</h3>
            <p>Python 3</p>
            <p>discord.py</p>
            <p>Pycord</p>
            <p>Basics of the World Wide Web</p>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h4 class="date">2021 - present</h4>
            <h3>Web Development</h3>
            <p>HTML</p>
            <p>CSS</p>
            <p>Astro</p>
            <p>Node Package Manager (NPM)</p>
            <p>TailwindCSS</p>
          </div>
          <li>
            <div class="timeline-content">
              <h4 class="date">2022 - present</h4>
              <h3>Rust</h3>
              <p>Basics of Rust</p>
              <p>Rust Package Manager (Cargo)</p>
            </div>
          </li>
        </li>
      </ul>
    </div>
  </div>