---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import "../base.css"
---

<body class="bg-MainBg">
    <Navbar />
        <slot />
    <Footer />
</body>
